@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .background-btn {
        background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
    }
    .btn{
        background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
        @apply w-72 h-14 flex items-center justify-center rounded text-white hover:border border-grey
    }
}

@layer base {
    body {
        @apply text-grey
    }

    a {
        text-decoration: none;
        background-color: transparent;
        @apply text-blue-700 hover:text-blue-900;
    }

    .caption {
        font-weight: 300;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.06px;

    }

    .body1 {
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.075px;
    }

    .body2 {
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.075px;
    }

    .h6,
    h6 {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
    }
    .h5,
    h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.11px;
    }
    .h4,
    h4 {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.11px;
    }

}